body {
    background-color: #f0f2f5; 
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: #343a40;
    padding: 10px;

    display: flex;
    justify-content: space-between; 
    align-items: center;
}
nav form {
    margin: 0;
    display: inline; 
}
nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav button a{
    color: rgb(112, 103, 103);
    margin: 0 10px;
    text-decoration: none;
}

form {
    margin-top: 20px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}